/* Estilos generales del cuerpo */
body {
    font-family: Arial, sans-serif; /* Fuente general del sitio */
    display: flex; /* Utiliza Flexbox para el layout */
    flex-direction: column; /* Organiza el contenido en una columna */
    min-height: 100vh; /* Asegura que el contenido mínimo ocupe toda la altura de la vista */
}

.banner img{
    width: 100%;
    height: 80%;
}

/* Estilos para la barra de navegación */
.navbar {
    background-color: #133C55 !important; /* Color de fondo de la barra de navegación */
    color: white !important; /* Color del texto en la barra de navegación */
}

/* Estilos para los enlaces de navegación en la barra */
.navbar-light .navbar-nav .nav-link {
    color: #91E5F6 !important; /* Color de los enlaces en la barra de navegación */
    margin-block: 5px; /* Margen vertical para los enlaces */
    border-radius: 20%; /* Bordes redondeados para los enlaces */
}

/* Estilo para el enlace activo en la barra de navegación */
.navbar-nav .nav-link.active {
    color: #59A5D8 !important; /* Color del enlace activo */
    font-weight: bold; /* Negrita para el enlace activo */
}

/* Estilos para el pie de página */
footer {
    bottom: 0; /* Alinea el pie de página al fondo */
    width: 100%; /* Ocupa todo el ancho disponible */
    position: relative; /* Posición relativa para poder ajustar su ubicación */
    padding: 20px 0; /* Espaciado superior e inferior del pie de página */
    background-color: #133C55; /* Color de fondo del pie de página */
    color: #91E5F6; /* Color del texto en el pie de página */
}

/* Estilos para el contenido principal */
main {
    flex: 1; /* Permite que el contenido principal crezca para llenar el espacio disponible */
}

/* Estilos para los enlaces en la barra de navegación al pasar el ratón */
.navbar-nav .nav-link:hover {
    color: #fff !important; /* Cambia el color del texto al pasar el ratón */
    background-color: #59A5D8; /* Cambia el color de fondo al pasar el ratón */
}